[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
httpie = "*"
requests = "*"
httpx = "*"
pytest = "*"
jinja2 = "*"
alembic = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12.7"
