<header class="bg-custom flex justify-between items-center max-w-5xl mx-2 md:mx-auto py-6">
  <h1><a href="/" class="text-2xl font-light text-gray-900">Crud@Cloud</a></h1>
  <nav>
    <ul class="flex gap-3 items-center">
      <li><a href="/portfolio/">Portfolio</a></li>
      {% if current_user %}
        <li class="hover:underline-offset-2"><a href="/articles/">Blog</a></li>
        <li class="hover:underline-offset-2"><a href="/books/">Books</a></li>
        <li class="hover:underline-offset-2"><a href="/tasks/">Tasks</a></li>
        <li class="ml-4"><a href="/dashboard" class="btn-default">Dashboard</a></li>
      {% else %}
        <li class="ml-4"><a href="/login/" class="btn-default">Login</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
