{% extends "website_base.html" %}

{% block title %}Portfolio - Crud@Cloud{% endblock %}

{% block content %}
  <div class="max-w-6xl mt-8 md:mt-20 mb-60 mx-2 md:mx-auto">
    <!-- TECHNOLOGIES USED -->
    <div class="mt-32">
      <h2 class="text-4xl font-light tracking-tight text-slate-900">
        Technologies used
      </h2>
      <div class="flex items-center flex-wrap gap-x-5 mt-10 mb-5">
        {% for technology in technologies %}
        <button
          class="btn-default"
          hx-get="/portfolio/{{ technology }}" hx-swap="innerHTML" hx-target="#tech-description"
        >
          {{ technology }}
        </button>
        {% endfor %}
      </div>
    </div>

    <div id="tech-description" class="max-w-6xl mt-8 mx-2 md:mx-auto"></div>

    <!-- PROJECTS -->
    <div class="mt-32">
      <h2 class="text-4xl font-light tracking-tight text-slate-900">
        Projects
      </h2>
      <p class="mt-8">Coming soon...</p>
    </div>
  </div>
{% endblock content %}
